LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="ProjectName"


# AI SETTINGS
MODEL = gemini-2.5-flash
EMBEDDING_MODEL=gemini-embedding-001
GOOGLE_API_KEY=AIzaSyCpiyy3lAYgdZ-iS88X7HuSm0iwFITlx6U
# Vectorstore
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=
